[Unit]
Description=Ubuntu proxy service
After=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/etc/proxy_service
ExecStop=/etc/proxy_service

[Install]
WantedBy=multi-user.target
