[Unit]
Description=Restart network-check.service every 10 minutes
After=network-check.service
PartOf=network-check.service

[Timer]
Unit=network-check-restart.service
OnActiveSec=600
OnUnitActiveSec=600

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart network-check.service

[Install]
WantedBy=timers.target

